/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

h1{
  color: red;
}
.completed{
  color: gray;
  text-decoration: line-through;
}

li {
  list-style: none;
}

html {
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
